@use "../../../scss/" as *;

.GallaryImage{
    background-color: $backgroundMainColor;
    .title{
        font-size: 80px;
        text-transform: capitalize;
        font-style: italic;
        padding-bottom: $marginDefault;
    }
    .gallery_wrapper{
        display: flex;
        align-items: flex-start;
        gap: 20px;
        @include sreen_small{
            display: block;
            padding: 0;

        }
        .left {
            position: sticky;
            top: 20px;
            flex: 1;
            font-size: 13px;
            width: 30%;
            text-transform: capitalize;
            @include sreen_small{
                position: relative;
                display: block;
                padding: 0;
                margin: 20px 0;
                z-index: 5;
                width: 100%;
            }
            ul{
                li{
                    line-height: 2.5;

                    &:hover{
                        cursor: pointer;
                    }
                }


            }

            .filter-nav {
                background-color: #f6f0ea; /* Light beige background */
                padding: 10px 20px;
              }
              
              .filter-text {
                font-size: 16px;
                color: #222; /* Dark text */
              }
              
              .filter-button {
                width: 36px;
                height: 36px;
                background-color: rgba(0, 0, 0, 0.1); /* Light transparent circle */
                border-radius: 50%;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
              
              .filter-button:hover {
                background-color: rgba(0, 0, 0, 0.2);
              }
        }
    
        .right{
            width: 70%;
            @include sreen_small{
                width: 98%;
    
            }
            &.hide{
                display: none;
            }
              
            .Gallery_postion{
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                justify-content: space-evenly;
                @include sreen_small{
                    display: block;
        
                }
                .gallery_image{
                    margin: 20px 20px 60px 0;
                    @include sreen_small{
                        width: 100%;
                        height: 100%;
                        margin: 10px;
                    }
                }
                
            }
              
        }
    }
}

  

  


