@use '../../scss/' as *;

.Contact{
    background-color:  $backgroundMainColor;
    section{
        &:first-child{
            padding: 0;
        }
        padding: 0 $marginDefault;
        .title{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 50px;
            text-transform: capitalize;
            margin: 80px 50px;
    
            span:first-child{
                text-align: start;
                margin-left: 180px;
    
            }
            span:last-child{
                font-style: italic;
                font-weight: bold;
            }
        }
    
        .container {
            display: flex;
            width: 100%;
            margin: 50px 0 ;
            height: 100vh;
            align-items: center;
    
            .contactInfo {
                flex: 1;
                color: #000;
    
                h1{
                    font-size: 36px;
                    margin-bottom: 10px;
                }
    
                p{
                    font-size: 16px;
                    line-height: 1.5;
                }
    
                a{
                    text-decoration: underline;
                    color: black;
                }
            }
    

        }
        .map{
            height: 90vh;
        }
    }
    
}
