@use '../../../scss/' as *;

.Carousel{
    position: relative;
    width: 100%;
    height: 100%;
    padding: $marginDefault 0;
    @include screen_small{
        padding: 10px;
        .customSwipper{
            .swiper-wrapper{
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                .swiper-slide{
                    width: 40% !important;
                    @include screen_mobile{
                        width: 100% !important;
                        margin-right: 0 !important;
                    }
                }

            }
        }
    }

    .button{
        position: absolute;
        text-align: center;
        width: 100px;
        bottom: 20%;
        right: 0;
        z-index: 2;

        .next-btn,.prev-btn{
            @include screen_mobile{
                padding: 0;

            }
            padding: 6px;

        }
    }
    .image{
        @include screen_medium{
            height: 15vh;

        }
        @include screen_mobile{
            height: 300px;
        }
        
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: center;
    }

    .carousel_content{
        margin: 10px 0;

        .top{
            font-size: 25px;
            padding: 10px 0;
            font-weight: bold;
        }

        .body{
            line-height: 1.2;

            .cirle{
                display: block;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--color-orange);
                margin-right: 20px;
            }
        }
    }
}