@use '../../../scss/' as *;
.Booking_form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-yellow-white);
    width: 100%;
    padding: 30px;
    margin: 10px;
    min-height: 800px;


    .Booking_title{
        font-size:25px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 25px;

        @include sreen_medium{
            font-size: 20px;
        }
    }

    .Booking_price{
        .formDate{
            .Booking_left{
                &:last-child{
                    border-right:  unset;
                }
                .price{
                    font-size: 24px;
                }
                
            }
        }
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        height: 250px;
        .Booking_left{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right:  1px solid rgba($color: #000000, $alpha: 0.2);
            height: 100%;
            width: 50%;

            span{
                font-size: 14px;
                text-transform: capitalize;
                @include sreen_medium{
                    font-size: 10px;
                }
            }
        }
        .Booking_right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 50%;
            
            p{
                margin: 0;
                @include sreen_medium{
                    font-size: 10px;
                }
            }
            span{
                font-size: 14px;
                text-transform: capitalize;
                @include sreen_medium{
                    font-size: 10px;
                }
            }
            .Booking_top{
                margin: 20px;
                .price{
                    font-size: 18px;
                }
            }
        }
    }
    ul{
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li{
            position: relative;
            padding: 10px 30px;
            font-size: 12px;
            @include sreen_medium{
                font-size: 10px;
            }
            &::before{
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 8px;
                height: 8px;
                border: 1px solid var(--color-orange);
                background-color: var(--color-orange);
                border-radius: 50%;
                transform: translateY(200%);
            }
        }
    }
    .Booking_bottom{
        .main{
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 10px;
            @include sreen_medium{
                font-size: 10px;
            }
        }
        span{
            font-size: 12px;
            @include sreen_medium{
                font-size: 10px;
            }
        }
    }
}