@use "../../../scss/" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vh;
    overflow: hidden;

    > div {
        margin-top: 10px;
    }
    .adress {
        font-size: 10px;
    }
    .detail {
        text-align: start;
    }
    .option {
        font-weight: bold;
    }
}
