@use "../../../scss/" as *;

.ItemScroll{
    overflow: hidden;

    &_content{
        .ItemScroll_item{

            @include screen_medium{
                &.col-md-4{
                    width: 50%;
                }
    
                &.col-md-8{
                    width: 100%;
                }

            }

            @include screen_mobile{


            }

            &_image{
                width: 100%;
                height: 100%;

                .image{
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }
        .ItemScroll_wrapper{
    
        }

    }
}
