@use '../../scss/' as *;

.Term{
    background-color: $backgroundMainColor;
    .container{
        padding-top: 150px;

        @include screen_small{
            max-width: 100%;

        }
        @include screen_mobile{
            max-width: 100%;

        }
        
    }
}