@use '../../scss/' as *;

.Wedding{
    background-color: $backgroundMainColor;
    section {


    }
    .wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0 150px;
    }

    .ChangeImage{
        width: 100%;
    }
}