@use '../../scss/' as *;

.Policy{
    background-color: $backgroundMainColor;
   .container{
        padding-top: 150px;
        max-width: 900px !important;

        @include screen_small{
            min-width: 100%;

        }
    }
}