@use '../../scss/' as *;

.Activities{
    background-color: $backgroundMainColor;

    section{
        margin: 0;
        padding: calc($marginDefault - 20px) ;
        
    }
    .container{
        min-width: 100%;
    }


}