@use '../../../scss/' as *;

.ImageShowSrcoll{
    .blur-bg {
        background: rgba(0, 0, 0, 0.7);
      }
      .modal-body{
        z-index: 999;
      }

    .ImageShowScroll_modal{

      @include screen_mobile{
        justify-content: center;

      }
    }
}