@use '../../../scss/' as *;

.ImageShowSrcoll{
    .blur-bg {
        background: rgba(0, 0, 0, 0.7);
      }
      .modal-body{
        z-index: 999;
      }

    .ImageShowScroll_modal{

      @include screen_mobile{
        justify-content: center;

      }
      @include screen_small{
        justify-content: center;

      }

      .image{
        @include screen_medium{
          height: 50vh !important;
  
        }
        @include screen_mobile{
          height: 25vh !important;
  
        }
        @include screen_small{
          height: 50vh !important;
  
        }
      }
    }
}