@use '../../scss/' as *;

.Booking{
    background-color: $backgroundMainColor;

    section{
        margin: 0;
        padding: calc($marginDefault - 20px) ;
        

        @include screen_mobile{
            padding: 0 20px ;

        }
    }
    .booking_wrapper{
        display: flex;
        @include screen_small{
            display: block;
        }
    }

}