@use '../../../scss/' as *;
.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  z-index: 9999;
  background-color: $backgroundMainColor;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
  }

  .logo {
    width: 120px;
    height: auto;
    animation: fadeBottomToTop 3s ease-in-out;
  }
}





