@use '../../scss/' as *;

.TheHouse{
    background-color: $backgroundMainColor;

    @include screen_large{
        .container{
            .image_container {
                width: 100%;
                height: 100vh;
            }
        }
    }

    @include screen_medium{
        .container{
            max-width: 1040px;
            .image_container {
                width: 100%;
                height: 100% ;
            }
        }
    }

    @include screen_small{
        .container{
            .image_container {
                width: 100%;
                height: 100%;
            }
        }
    }

    section {
        width: 100%;
        height: 100%;
    }

    &_content{
        text-align: center;
        font-size: $fzTitile;
        margin-left: auto;
        margin-right: auto;

        span{
            font-style: italic;
            font-weight: bold;
        }
    }

    .content_image{
        align-items: center;
        text-align: center;
        margin: 50px 0;

        ul{
            display: flex;
            justify-content: center;
            padding: 0;
            width: 100%;

            li{
                width: 33.33%;
                border: 1px solid rgba($color: #000000, $alpha: 0.2);
                padding: 50px;
            }

        }
    }

    
}