@use '../../../scss/' as *;


.Main_service{
    margin: $marginDefault 0;

    .text{
        font-size: 45px;
        margin: 0 0 40px;
        font-style: italic;
        font-weight: bold;
    }
    .content{
        height: 70%;
        .body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            &.rotate{
                flex-direction:  column-reverse !important;
            }


            .detail{
                margin-bottom: 20px;
            }
    
            .option{
                font-weight: bold;
                text-transform: uppercase;
                color: var(--color-black);
    
            }

        }

    }

}