@use '../../../scss/' as *;
.Contaier {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 120vh;
    padding: 50px;
    background: url($backgroundHeader) no-repeat center center/cover;
    
    @include screen_mobile{
        justify-content: center;
        height: 100vh;
    }
    .content-section {
        height: 100%;
        width: 50%;
        padding: 15px 25px;
        background-color: white;
        @include screen_mobile{
            height: 70%;
            width: 100%;
            padding: 10px;
        }
        h2 {
            font-size: 36px;
            font-weight: normal;
            @include screen_mobile{
                font-size: 24px;
            }
            i{
              font-style: italic;
            }
        }

        p{
            font-size: 18px;
            line-height: 1.2;
            @include screen_mobile{
                font-size: 12px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                font-size: 18px;
                margin-bottom: 5px;
                @include screen_mobile{
                    font-size: 12px;
                }
            }
        }
          
        h3 {
            @include screen_mobile{
                font-size: 14px;
            }
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            color: var(--color-orange);
        }

        .map{
            margin-top: 20px;
            border-radius: 10px;
            overflow: hidden;
        }
        iframe {
            border: 0;
            border-radius: 10px;
        }
    }
      

}




  


