@use '../../scss/' as *;

.CurateService{
    background-color: $backgroundMainColor;

    section{
        margin: 0;
        padding: $marginDefault ;
        
        @include screen_small{
            padding: 0;
        }
    }
}
