@use '../../scss/' as *;

.Weddinggallery{

    background-color: $backgroundMainColor;
    .container{
        padding-top: 150px;

        @include screen_small{
            min-width: 100%;

        }

        .title {
            font-size: 80px;
            text-transform: capitalize;
            font-style: italic;
            padding-bottom: $marginDefault;

            @include screen_mobile{
                font-size: 50px;
            }
            @include screen_small{
                font-size: 50px;
    
            }
        }
    }

}