@use "../../scss/" as *;

.Header {
    width: 100%;
    overflow: hidden;

    .Header_top[data-isOpen="true"] {
        width: 20%;
        height: 20%;
    }

    &.shrink {
        .Header_top {
            height: 50vh;
            position: fixed;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 93%;
            z-index: 99;
            padding: 0 3rem;
            margin: 50px;
            animation: fadeTopToBottom 0.8s ease-in-out;
            @include screen_mobile {
                padding: 0;
                margin: 25px;
            }
            .Header_logo {
                img {
                    width: 50px;
                    height: 50px;
                    @include screen_mobile {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &_link {
                display: flex;
                flex-direction: column;
                a {
                    @include screen_mobile {
                        font-size: 12px;
                    }
                    font-size: $fontsize;
                    color: var(--color-white);
                    text-transform: uppercase;
                    line-height: 2;
                }
            }
        }
    }

    .NavTop {
        background: #E8D9D0;
        z-Index: 99;
        width: 500px;
        height: 100%;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        padding: 10px;
        .NavBar_button{
            display: flex;
            position: absolute;
            top: 5px;
            right: 20px;
            z-Index: 99;
            align-items: center;
        }

        .NavTop_wrapper{
            visibility: visible;

            &_content{
                padding: 0 10px;

                @include screen_mobile {
                    text-align: end !important;
                    width: 100% !important;
                }
                .NavTopWidth {
        
                    @include screen_mobile {
                        padding: 0;
                    }
                }
        
                .NavTopLink {
                    padding: 20px;
        
                    @include screen_mobile {
                        a {
                            font-size: 12px;
                        }
                    }
                }

            }
        }
    }
    @include screen_mobile {
        margin: 0;
    }
    .Header_logo {
        img {
            width: 50px;
            width: 50px;
            @include screen_mobile {
                width: 30px;
                width: 30px;
            }
        }
    }
    &_link {
        display: flex;
        flex-direction: column;

        &_item {
            @include screen_mobile {
                font-size: 12px;
            }
            font-size: $fontsize;
            color: var(--color-white);
            text-transform: uppercase;
            line-height: 2;
        }
    }

    // &_top{
    //

    // }
}
