@use '../../../scss/' as *;

.Map_container{
    margin: 50px $marginDefault;

    .markers{
        margin: unset !important;
        .text{
            font-size: 20px !important;
            margin: unset !important;
            font-style: italic;
            font-weight: bold;
            overflow: hidden;
        }
        .content{
            overflow: scroll;
            .body{
                width: 35% !important;
        
            }
            .detail{
                margin-bottom: 20px;
            }
            .option{
                font-weight: bold;
                text-transform: uppercase;
                color: var(--color-black);
                margin-top: 20px;
            }
    
        }
    }
}
