@use './scss/' as *;

:root{
    --color-black: black;
    --color-white: white;
    --color-blue: aquamarine;
    --color-yellow-white: #FDF9F3;
    --color-orange: #d4a373;
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: auto; /* Fix scrolling issue */
    overflow: visible; /* Allow scrolling */
}

[data-scroll-container] {
    min-height: 100%; /* Ensure content height */
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none !important;
    color: var(--color-black);
}

::-webkit-scrollbar {
    display: none;
}

.mt-50{

    margin-top: 50px;
}

.App{
    overflow: hidden;
}

.fullScreen{
    width: 100%;
    height: 100vh !important;
}

.halfScreen{
    width: 100%;
    height: 50vh !important;
}


.w-60{
    width: 60% !important;
}


.mb-50{
    margin-bottom: 50px !important;
}
