$backgroundHeader: 'https://cdn.prod.website-files.com/6668dadedd368b850aa41ded/66a70accc3cbf0ad9c43110d_Hillbrook-house-estate-whangamata-coromandel.avif';

$marginDefault: 50px;
$fontsize: 20px;
$backgroundMainColor: #F1EBE3;
$fzTitile: 2rem;
$colorFooter: #F1EBE3;
$bgColorNav: rgb(224,211,204);


$width-midium: 1140px;
$width-small: 780px;
$width-mobile: 420px;

