@use '../../scss/' as *;

.Footer{
    position: relative;
    height: 100vh;
    width: 100%;
    padding:  $marginDefault;
    background-color: $colorFooter;
    overflow: hidden;

    &_wrapper{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        .header{
            font-size: 3rem;
            font-style: italic;

            @include sreen_small{
                font-size: 1.5rem;

            }
        }
    
        .button{
            text-decoration: none;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            padding: 5px 0;
            border-radius: 5px;
            cursor: pointer;

            @include sreen_small{
                font-size: 10px;

            }
        }
    
        .nav_menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 20px;
            right: 40px;
            text-align: right;

            @include sreen_large{
                justify-content: flex-start;

            }
    
            a{
                display: block;
                text-decoration: none;
                color: black;
                font-size: 14px;
                margin-bottom: 10px;
                text-transform: uppercase;

                
                @include sreen_small{
                    font-size: 10px;

                }
                span{
                    position: relative;

                    &:hover::before{
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 10px;
                        height: 10px;
                        background-color: var(--color-orange);
                        border-radius: 50%;
                        animation: appearOut .4s ease-in-out;
                        transform: translateX(-200%) translateY(50%);

                    }

                }
            }
        }
    
    }
    
    .footer{
        position: absolute;
        bottom: 10px;
        text-transform: uppercase;

        a{
            color: black;
            text-decoration: none;
            margin-right: 10px;
        }
    }

    .social_icons{
        right: 40px;

        img{
            width: 20px;
            margin-left: 10px;
        }
    }
}